h1 {
   margin : 25px 50px ;
   padding : 25px 50px ;
   color :rgb(148, 182, 94) ;
   font-family: 'Courier New', Courier, monospace;
   font-size: 300%;
}
body{
	margin :20px 40px;
	padding : 20px, 40px;
	background-color: brown;
}